.App-logo {
  margin: "10px";
  height: 5vmin;
}

.App-config {
  margin: "50px";
}

@import '../node_modules/@blueprintjs/core/dist/blueprint.css';
@import '../node_modules/@blueprintjs/datetime/dist/blueprint-datetime.css';
